<div class="checkout-container">
  <div class="container">
    <ng-container *ngFor="let header of headers">
      <p>{{header}}</p>
    </ng-container>
  </div>
  <div class="container content">
    <ng-container *ngFor="let item of cartItems; let i = index">
      <p>{{ item.product.name }}</p>
      <p>{{ item.product.description }}</p>
      <div class="quantity">
        <div class="arrow" (click)="decrementQuantity(item, i)">&lt;</div>
        <span class="value">{{ item.quantity }}</span>
        <div class="arrow" (click)="incrementQuantity(item)">&gt;</div>
      </div>
      <p>{{ item.totalPrice }}</p>
      <p class="remove-button" (click)="removeFromCart(item, i)">&#10005;</p>
    </ng-container>
  </div>
  <div class="total-container" *ngIf="cartService.cartCount">
    <span>Total: ${{ calculateTotal() }}</span>
  </div>
</div>
<div *ngIf="cartService.cartCount">
  <button class="checkout-button" mat-raised-button color="primary">Continue to Checkout</button>
</div>

