<p>
  <mat-toolbar class="app-menu-bar" color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/products">Products</span>
    <span class="menu-bar"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
<!--  <div class="cart-icon">-->
<!--    <i class="fas fa-shopping-cart"></i>-->
<!--    <span class="cart-count">{{ cartItems.length }}</span>-->
<!--  </div>-->
</mat-toolbar>
</p>
<router-outlet></router-outlet>

<!--TODO
router-outlet
-->
