<p>
  <mat-toolbar class="app-menu-bar" color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/products" class="navigation">Products</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span routerLink="/addProduct" class="navigation">Add product</span>
    <span class="menu-bar"></span>
    <span routerLink="/orders" class="navigation">Orders</span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
      <span class="cart-item-count">{{ cartItemsCount }}</span>
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>

