/*.product{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  position: relative;*/
/*}*/
/*#addToCartButton{*/
/*  position: absolute;*/
/*  bottom: 16px;*/
/*  right: 16px;*/
/*}*/
/*.product {*/
/*  background: #fff;*/
/*  border-radius: 10px;*/
/*  box-shadow: 0 2px 20px rgba(0,0,0,0.1);*/
/*  overflow: hidden;*/
/*  margin: 20px;*/
/*}*/


.product {
  background-color: lightgray;
  border-radius: 10px;
  width: 390px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product:hover {
  transform: scale(1.05);
}

.mat-card-title {
  font-size: 18px;
  font-weight: bold;
}

.mat-card-subtitle {
  font-size: 14px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  padding: 8px 15px;
  font-size: 14px;
}

/*#edit {*/
/*  background-color: #2196F3;*/
/*}*/

/*#edit:hover {*/
/*  background-color: #1565C0;*/
/*}*/

/*#addToCart {*/
/*  background-color: #4CAF50;*/
/*}*/

/*#addToCart:hover {*/
/*  background-color: #388E3C;*/
/*}*/

#deleteProduct {
  background-color: darkred;
}

#deleteProduct:hover {
  background-color: #D32F2F;
}

.search{
  width: 20px;
  height: 20px;
}

.test{
  color: red;
}

